/* Overall Style */
html {
    font-family: 'Raleway', sans-serif;
    margin-left: 25px;
    position: relative;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: bisque;

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* Anchors and URLs*/
a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #004466;
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
    color: darkblue;
    text-decoration: underline;
}


/* Headings */
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* Images and Media */
img {
    position: relative;

}

/* Breadcrumbs/Nav bar */
.breadcrumb {
    padding: 0;
    margin: 10px 0;
}

.breadcrumb li {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumb li::after {
    content: '/';
    margin-left: 10px;
    margin-right: 10px;
    color: #333;
}

.breadcrumb li:last-child::after {
    content: '';
}

.breadcrumb a {
    text-decoration: none;
    color: #0077cc;
}

.breadcrumb a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Classes */
.intro-homepage {
    text-align: justify;

}

.footer {
    font-family: 'raleway', sans-serif;
    color: gray;
    font-size: x-small;
    text-align: right;
    margin-top: auto;
}

/* IDs */